services:
  windows:
    image: dockurr/windows:latest
    container_name: windows
    environment:
      VERSION: "tiny11"
      RAM_SIZE: "14G"
      CPU_CORES: "4"
      DISK_SIZE: "400G"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - ./win_data:/storage
    stop_grace_period: 2m
    restart: always

ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok-tunnel
    
    depends_on:
      - windows

    command: "tcp windows:3389 --authtoken 37tRA6yFPZvaOCgOdMfw9mnu3PV_6M7NAViD1KcSi6oRpcZEB"
    ports:
      - 4040:4040
    restart: always
