services:
  windows:
    image: dockurr/windows:latest
    container_name: windows
    environment:
      VERSION: "tiny11"
      USERNAME: "Cuty Pie"
      PASSWORD: "123@"
      RAM_SIZE: "12G"
      CPU_CORES: "4"
      DISK_SIZE: "400G"
      DISK2_SIZE: "100G"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - ./win_data:/storage
    stop_grace_period: 2m
    restart: always
